.ed{
    background-color: rgb(250, 220, 215);
    border: 3px solid rgb(14, 230, 14);
    
    width:200px;
height:30%;
}
.ssc{
    background-color: darkblue;
    border: 3px solid rgb(232, 100, 232);
    width:80px;
}
.in{
    background-color:rgb(232, 100, 232);
    border: 3px solid blueviolet;
    width: 100px;
}
.b{
    background-color: aqua;
    border: 4px solid #121212;
    width: 200px;
}

.i{
    border: 4px solid rgb(232, 100, 232);
    width:50%
}
p{
    border:3px solid royalblue ;
    background-color: orange;
    width:200px;
    box-shadow: 5px 5px 10px rgb(14, 230, 14);
}
